<!DOCTYPE html>
<html>
<head>
	<title> Home </title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Gentium Basic' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Gilda Display' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<style type="text/css">
body {
    font-family: 'Cinzel Decorative';font-size: 22px;
    background-image: url('/static/home1.jpg');
    background-size: cover;


}
.nav-item{
	color: pink;
}
.navbar{
	width: 100%;
	position: fixed;
}
.p{
	position: absolute;
	left: 1%;
	top: 27%

}
#p1{
	font-family: 'Gilda Display';font-size: 30px;
}
#p2{
	font-family: 'Gilda Display';font-size: 22px;

}
	
</style>

<body>



	<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  		<a class="navbar-brand" style="color:#ccaa99; font-weight: bold;" href="/home"><h3>Dance <br> Room</h3></a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="/ballet">Ballet</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#">Contemporary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#">Jazz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#">Steps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#">Salsa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#">Quickstep</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#"></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="color:#eeddcc;" href="#">Hello {{session["username"]}}!</a>
      </li>
     

    </ul>
  </div>
	</nav>


<br><br><br><br><br><br><br>
<div class="p"> 
<h1>Welcome!</h1>
<br>
<h2 id ="p1"> Here you will discover the world of dance.</h2><h2 id="p2" > Don't forget to check out the comment section to find <br> out where you can start your dance lessons!</h2>
</div>


</body>


